@{
    ViewData["Title"] = "Home Page";
}


<!-- About Page -->
<div id="about-page" class="container-fluid about-page py-4">

    <div class="bulits">
        <ul class="bulits-list">
            <li>
                <a href="#about-us">Prime Objectives</a>
            </li>
            <li>
                <a href="#prime-objectives">Prime Objectives</a>
            </li>
            <li>
                <a href="#sampling-resources">Sampling Resources</a>
            </li>
            <li>
                <a href="#sampling-process">Sampling Process</a>
            </li>
        </ul>
    </div>
    <p id="about-us" class="lead">Arrowad Value Research Work was initiated first in January 2015 by Arrowad Group and after then gradually we have improved our data collection, its processes and analysis</p>

    <div id="prime-objectives" class="prime-objectives">
        <h2 class="mt-4">The prime objectives of this Research Work are:</h2>
        <ul>
            <li>Exploring the sense of values</li>
            <li>Understanding the on-going practice-trends</li>
            <li>Identifying the sectoral focus on values</li>
            <li>Finding a linkage on values for the top organizations in the world</li>
            <li>Discovering the solid-ground competition by companies maintaining values</li>
            <li>Tracking a connectivity on World Economy and Value Practitioners' Performance</li>
        </ul>
    </div>
    <div id="sampling-resources" class="sampling-resources">
        <h2 class="mt-4">Sampling Source</h2>
        <p class="lead">Between the year 2000 and till dated, based on World Famous Journals like FORBES Magazine, Business Week, The Economist; Research Groups, Corporate Critics Panel, Business Think Tanks, Business Reviews, Organizational Excellence Observers, we have gathered more than 3792 Companies/Organizations who are performing brilliantly during the mentioned period; also importantly, these organizations have already drawn up their remarkable benchmark in the world of business and services.</p>
    </div>
    <div id="sampling-process" class="sampling-process">
        <h2 class="mt-4">Sampling Process</h2>
        <ol>
            <li>Identifying the best possible sources for the names of the organizations, involving sector and country of origin</li>
            <li>Cross checking the sources' information on the names of the organizations, involving sector and country of origin</li>
            <li>Collection of 3792 names of the organizations, involving sector and country of origin</li>
            <li>Further cross checking the data of 3792 names of the organizations, involving sector and country of origin</li>
            <li>We did sample of 500 names of the organizations, involving sector and country of origin as every phase as Primary Research Work</li>
            <li>Then we repeat the phases till we reach our last update as shown</li>
            <li>Rather simply copying pasting, the Values, we tried to have insight into the titled values of the organization; as a result, we often found more involvement of the values, even though, the organization might just have titled as one; sometimes, we found the organization makes it complicated for the information seekers to access information regarding organizational values</li>
            <li>We tried to maintain the same facts and figures while collecting and storing data from any company website or relevant sources</li>
            <li>Sometimes, we found organizations used Metaphors or Phrasal expressing in defining their values; in that case, we had to review time to time, their text, and came up with an expert identification of the theme-value</li>
            <li>Amalgamated all phases' data</li>
            <li>Updating the value vibes by sector</li>
            <li>Identifying the top practicing values by various organizations</li>
            <li>Identifying the values on practice by sector</li>
            <li>Producing a list of Prime Core Values by sector as expected and/ or as expert thoughts</li>
            <li>Comparing the value vibes by sector with the Prime Core Value list</li>
            <li>Analyzing the fact and finding out the reasons of ongoing trend by sector</li>
            <li>Preparing the Final Comprehensive Report</li>
            <li>Conducting Final review</li>
            <li>Incorporating data and processing for visualization</li>
            <li>Making live the data for public</li>
        </ol>
    </div>
</div>

