@{
    ViewData["Title"] = "BenchmarkingCorporateValues Page";
}
<!-- Benchmarking My Values Page -->
<div id="benchmarking-my-values-page" class="container-fluid page-section benchmarking-my-values-page">
    <!-- Sellector Box -->
    <div class="row countries-sectors mb-2">
        <div class="col-12 heading mb-0">
            <h2 class="mb-0">My Values</h2>
        </div>
        <div class="col-xl countries-sectors__countries">
            <div class="all__contries sellect-box">
                <div class="left__arrows arrows arrows-rest-pages d-none d-md-block">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </div>
                <div class="search-div">
                    <label class="label d-block">Select Your Country</label>
                    <input list="countires" placeholder="World Wide" class="search-country__box">
                    <datalist id="countires">
                        <option value="World Wide" />
                        <option value="Saudia Arabia" />
                        <option value="Egypt" />
                    </datalist>
                </div>
                <div class="right__arrows arrows arrows-rest-pages d-none d-md-block">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <!-- Sellector Box -->
        <div class="col-xl countries-sectors__countries">
            <div class="all__contries sellect-box">
                <div class="left__arrows arrows arrows-rest-pages d-none d-md-block">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                </div>
                <div class="search-div">
                    <label class="label d-block">Select Your Sector</label>
                    <input list="countires" placeholder="World Wide" class="search-country__box">
                    <datalist id="countires">
                        <option value="World Wide" />
                        <option value="Saudia Arabia" />
                        <option value="Egypt" />
                    </datalist>
                </div>
                <div class="right__arrows arrows arrows-rest-pages d-none d-md-block">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div> <!-- End Sectorial Corporation page Countries and sectors Selectors -->
    <form action="">
        <div class="row countries-sectors countries-sectors">
            <div class="col-12 heading mb-0">
                <h2 class="mb-0">My Values</h2>
            </div>
            <div class="col-xl-10 mt-0">
                <div class="row values-section mt-0">
                    <!-- Sellector Box -->
                    <div class="col-md-4 col-sm-6 countries-sectors__vlues">
                        <div class="all__contries sellect-box">
                            <div class="search-div mt-4">
                                <input list="countires" placeholder="Value #1" class="search-country__box">
                                <datalist id="countires">
                                    <option value="World Wide"/>
                                    <option value="Saudia Arabia"/>
                                    <option value="Egypt"/>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <!-- Sellector Box -->
                    <div class="col-md-4 col-sm-6 countries-sectors__vlues">
                        <div class="all__contries sellect-box">
                           <div class="search-div mt-4">
                                <input list="countires" placeholder="Value #2" class="search-country__box">
                                <datalist id="countires">
                                    <option value="World Wide"/>
                                    <option value="Saudia Arabia"/>
                                    <option value="Egypt"/>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <!-- Sellector Box -->
                    <div class="col-md-4 col-sm-6 countries-sectors__vlues">
                        <div class="all__contries sellect-box">
                            <div class="search-div mt-4">
                                <input list="countires" placeholder="Value #3" class="search-country__box">
                                <datalist id="countires">
                                    <option value="World Wide"/>
                                    <option value="Saudia Arabia"/>
                                    <option value="Egypt"/>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <!-- Sellector Box -->
                    <div class="col-md-4 col-sm-6 countries-sectors__vlues">
                        <div class="all__contries sellect-box">
                            <div class="search-div mt-4">
                                <input list="countires" placeholder="Value #4" class="search-country__box">
                                <datalist id="countires">
                                    <option value="World Wide"/>
                                    <option value="Saudia Arabia"/>
                                    <option value="Egypt"/>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <!-- Sellector Box -->
                    <div class="col-md-4 col-sm-6 countries-sectors__vlues">
                        <div class="all__contries sellect-box">
                            <div class="search-div mt-4">
                                <input list="countires" placeholder="Value #5" class="search-country__box">
                                <datalist id="countires">
                                    <option value="World Wide"/>
                                    <option value="Saudia Arabia"/>
                                    <option value="Egypt"/>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <!-- Sellector Box -->
                    <div class="col-md-4 col-sm-6 countries-sectors__vlues">
                        <div class="all__contries sellect-box">
                            <div class="search-div mt-4">
                                <input list="countires" placeholder="Value #6" class="search-country__box">
                                <datalist id="countires">
                                    <option value="World Wide"/>
                                    <option value="Saudia Arabia"/>
                                    <option value="Egypt"/>
                                </datalist>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-2 submit-form">
                <button type="submit" class="submit mt-4">
                    <i class="fa fa-check" aria-hidden="true"></i>
                </button>
            </div>
        </div> <!-- End Sectorial Corporation page -->
    </form> <!-- End From-->
    <!-- Start Bench-Marking-values Dashboards -->
    <div class="row bench-mark-values__compare">
        <!-- Benchmark-values Prcentage -->
        <div class="col-xl-3 mt-4">
            <div id="benchmarking-percentage-values-chart" class="benchmarking-percentage-values-chart bkg-box"></div>
            <div id="benchmarking-percentage-values-chart-2" class="benchmarking-percentage-values-chart bkg-box mt-4"></div>
        </div>

        <!-- Benchmark-values & Mix Chart -->
        <div class="col-xl-9 mt-4">
            <div id="benchmarking-values-line-mix-chart" class="benchmarking-values-line-mix-chart bkg-box"></div>
        </div>
    </div> <!-- Start Bench-Marking-values Dashboards -->
</div> <!-- End Benchmarking My vlues Page -->
       